@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #eee;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 32px; /* Adjust the size to your preference */
}

h2 {
  font-size: 28px; /* Adjust the size to your preference */
}

h3 {
  font-size: 24px; /* Adjust the size to your preference */
}

h4 {
  font-size: 20px; /* Adjust the size to your preference */
}

h5 {
  font-size: 18px; /* Adjust the size to your preference */
}

h6 {
  font-size: 16px; /* Adjust the size to your preference */
}
